<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Bundick_2017.Properties.Settings.classic7_bundickConnectionString"
            connectionString="server=classicsiamese.com;user id=classic7_jisatsu;password=Mexic0123!;persistsecurityinfo=True;database=classic7_bundick"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>